.center {
  text-align: center;
}

#fcanvas {
  max-width: 25vw;
  max-height: 25vh;
}
#controls {
  display: none;
}

#game {
  position: relative;
  display: none;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100vw;
  max-height: 100vh;
}
#canvas {
  z-index: 0;
}
#pcanvas {
  z-index: 1;
}
#scanvas {
  z-index: 2;
}

#secret {
  display: none;
}
