<html>
  <head>
    <title>Paintgame</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="debug" class="center">
      <textarea id="log" cols="80" rows="10"></textarea>
    </div>
    <div id="lobby" class="center">
      <div id="format_description">
        <canvas id="fcanvas" width="{{ form.canvas_size[0] }}" height="{{ form.canvas_size[1] }}"></canvas>
      </div>
      <div id="player_selection">
        <p>You're <span id="pid">spectator</span>.</p>
        <p>
          <button id="p-1" onclick="requestPlayerChange(-1)">Spectate</button>
          {% for pid in range(form.num_players) %}
            <button id="p{{ pid }}" onclick="requestPlayerChange({{ pid }})">{{ pid }}</button>
          {% endfor %}
        </p>
      </div>
      <div id="controls">
        <p>
          {% for cid in range(form.num_cursors) %}
            <span style="color:rgb({{ form.color_of(cid).r }}, {{ form.color_of(cid).g }}, {{ form.color_of(cid).b }})">Cursor {{ cid }}</span>
            <button id="l{{ cid }}" onclick="bind({{ cid }}, 'l')"></button>
            <button id="s{{ cid }}" onclick="bind({{ cid }}, 's')"></button>
            <button id="r{{ cid }}" onclick="bind({{ cid }}, 'r')"></button>
            <br>
          {% endfor %}
          <button id="finish" onclick="bind_finish()">finish current quest</button>
        </p>
        <p>
          <input id="cfg_name" type="text">
          <button id="save_cfg" onclick="save_cfg()">save</button>
          <button id="load_cfg" onclick="load_cfg()">load</button>
        </p>
      </div>
    </div>
    <div id="game">
      <canvas id="canvas" class="layer" width="{{ form.canvas_size[0] }}" height="{{ 1.1 * form.canvas_size[1] }}"></canvas>
      <canvas id="pcanvas" class="layer" width="{{ form.canvas_size[0] }}" height="{{ 1.1 * form.canvas_size[1] }}"></canvas>
      <canvas id="scanvas" class="layer" width="{{ form.canvas_size[0] }}" height="{{ 1.1 * form.canvas_size[1] }}"></canvas>
    </div>
    <div id="secret">
      <!--This is not visible to the client, we use it to send data conveniently. -->
      {% for name in form.image_files %}
        <img id="img{{ name[:-4] }}" src="/static/images/{{ name }}">
      {% endfor %}
    </div>
    <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/paint.js"></script>
  </body>
</html>
